// Datepicker
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker {
  &.react-datepicker--time-only {
    .react-datepicker__input-time-container{
      min-width: 100px;
      margin: 0 0 10px;
      padding-top: 5px;
      border-top: 1px solid $gray-300;

      .react-datepicker-time__caption {
        display: none;
      }

      .react-datepicker-time__input-container {
        display: block;
        padding: 0 5px;

        .react-datepicker-time__input {
          display: block;
          margin: 0;

          input {
            width: 100%;
            height: calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.5;
            color: $gray-700;
            background-color: $white;
            background-clip: padding-box;
            border: 1px solid $gray-200;
            border-radius: 2px;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
          }
        }
      }
    }
  }

  .react-datepicker__time-container {
    width: 100% !important;
    min-width: 70px;

    .react-datepicker__time {
      .react-datepicker__time-box {
        width: 100% !important;
        min-width: 70px;
      }
    }
  }
}


.page-wrapper {
  background: $body-bg;
  position: relative;
  transition: 0.2s ease-in;

  .container-fluid {
    padding: 20px;
    //min-height: calc(100vh - 180px);
    min-height: calc(100vh - 112px);
  }
}

.aws-btn {
  --slider-height-percentage: 100%;
  --slider-transition-duration: 200ms;
  --organic-arrow-thickness: 1px;
  --organic-arrow-border-radius: 30px;
  --organic-arrow-height: 40px;
  --organic-arrow-color: #d5b1af;
  --control-button-width: 19%;
  --control-button-height: 53%;
  --control-button-background: transparent;
  --control-bullet-color: #f09297;
  --control-bullet-active-color: #cc7c80;
  --loader-bar-color: #851515;
  --loader-bar-height: 6px;
  position: static;
}

.slider {
  height: 30vh
}
